<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8">
		<!-- <link rel="shortcut icon" type="image" href="static/img/schiller_logo.png"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script> -->
		<script src="/static/js/base.js"></script>
        <link rel="stylesheet" href="/static/styles/footer.css">
		<link rel="stylesheet" href="/static/styles/navbar.css">
        <link rel="stylesheet" href="/static/styles/main.css">
		<script src="/static/js/navbar.js"></script>
		<script src="/static/js/footer.js"></script>
        <title>{% block title %} {% endblock %}</title>
    </head>  
    <body>
        <nav-bar></nav-bar>	   
        {% if active_page == "index" %} 
                
        {% else %} 
            <script> 
                document.querySelector("#{{active_page}}").classList.add("active");
            </script>
        {% endif %}  

        <div class="content" id="content">	
            <!-- content should go here --> 
            {% block content %} {% endblock %} 
    
        </div>
    </body>
</html>