<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8">
		<link rel="shortcut icon" type="image" href="static/img/schiller_logo.png"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
		<script src="/static/js/base.js"></script>
        <script src="/static/js/login.js"></script>
        <link rel="stylesheet" href="/static/styles/footer.css">
        <link rel="stylesheet" href="/static/styles/about.css">
		<link rel="stylesheet" href="/static/styles/main.css">
		<link rel="stylesheet" href="/static/styles/navbar.css">
		<script src="/static/js/navbar.js"></script>
		<script src="/static/js/footer.js"></script>
    </head>  
    <body>
            
    </body>
</html>