<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8">

		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
		<script src="/static/js/base.js"></script> -->
        <link rel="stylesheet" href="../static/styles/footer.css">
		<link rel="stylesheet" href="../static/styles/navbar.css">
		<script src="../static/js/navbar.js"></script>
		<script src="../static/js/footer.js"></script>
        <link rel="stylesheet" href="../static/styles/main.css">
        <title>Home | linPEVES</title>
    </head>  
    <body>
        <nav-bar></nav-bar>	   

        <div class="content" id="content">
            <h1>WELCOME TO linPEVES</h1>
            <div class="typewriter">
                <h3>Making malware and changing lives for the wose.</h3>
            </div>

            <div class="download">
                <button>
                    
                </button>
            </div>
            
        </div>
    </body>
</html>