html {
    scroll-behavior: smooth;
    color: white;
    background-color: #191414;
    /* background: linear-gradient(0deg, #191414 25%, #888888 50%, #888888 66%, #191414 87.5%); */
    background: linear-gradient(0deg, #191414 25%, #3b4145 66%, #3b4145 80%, #191414 90%);
    background-color: #191414;
}

.button {
    background-color: #1fc640;
    font-size: large;
    border: none;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.button:hover {
    transform: scale(1.05);
    transition: .1s;
}

.button:active {
    transform: scale(1);
    transition: .1s;
}

.go {
    margin-left: 5px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    background: linear-gradient(144deg,#b650ff, #7261df, #00bcc9);
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
}

@keyframes gradientFlow {
    0% { background-position: 0% 50%; }
    100% { background-position: 200% 50%; }
}

.go:hover {
    background: linear-gradient(90deg, #b650ff, #7261df, #00bcc9, #7261df, #b650ff, #b650ff);
    background-size: 600% 100%; /* Adjust the size for smoother transition */
    animation: gradientFlow 5s linear infinite; /* Adjust the duration as needed */
}