<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8">
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
		<script src="/static/js/base.js"></script> -->
        <link rel="stylesheet" href="../static/styles/footer.css">
		<link rel="stylesheet" href="../static/styles/navbar.css">
		<script src="../static/js/navbar.js"></script>
		<script src="../static/js/footer.js"></script>
        <link rel="stylesheet" href="../static/styles/main.css">
        <title>About Us | linPEVES</title>
    </head>  
    <body>
        <nav-bar></nav-bar>	
        

        
        <div class="content" id="content">
            <h2>ABOUT US</h2>	
            <div class="row">
                <div class="column_3"> 
                    <div class="circle-image">
                        
                        <a href="https://github.com/nakyianu/"><img src="../static/img/aadi.jpg" class="img"></a>
                    </div>
                    <a href="https://github.com/nakyianu/"><p style="font-size: 24px; font-weight: 800; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Aadi Akyianu '25</p></a>
                        <p>Computer Science Major and Dance Minor</p>
                        <p style="font-style: italic;">it was worth it...?</p>
                </div>
                <div class="column_3">
                    <div class="circle-image"> 
                        <a href="https://github.com/essyi221085"><img src="../static/img/essy.jpg" class="img"></a>
                    </div>
                    
                    <a href="https://github.com/essyi221085"><p>Essy Ingram '25</p></a>
                        <p>Computer Science Major</p>
                        <p style="font-style: italic;">meow meow meow meow</p>
                </div>
                <div class="column_3">
                    <div class="circle-image">
                        <a href="https://github.com/clean-hands"><img src="../static/img/lazuli.jpg" class="img"></a>
                    </div>
                    <a href="https://github.com/clean-hands"><p>Lazuli Kleinhans '25</p></a>
                        <p>Computer Science Major and Cognitive Science Minor</p>
                        <p style="font-style: italic;">I love making malware!! :D</p>
                </div>  
            </div>
        </div>

        <script>
            // Add active class to the current button (highlight it)
            var header = document.getElementById("about");
            header.classList.add("active");
            
            </script>
        <!-- <custom-footer></custom-footer> -->
    </body>
</html>