<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8">

		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
		<script src="/static/js/base.js"></script> -->
        <link rel="stylesheet" href="../static/styles/footer.css">
		<link rel="stylesheet" href="../static/styles/navbar.css">
		<script src="../static/js/navbar.js"></script>
		<script src="../static/js/footer.js"></script>
        <link rel="stylesheet" href="../static/styles/main.css">
        <title>Project Description | linPEVES</title>
    </head>  
    <body>
        <nav-bar></nav-bar>	 







        <div class="content" id="content">

            <h1 style="font-size: 50px;">Linux Privilege Escalation and Vulnerability Exploit Script (linPEVES) </h1> 
            
            <p class="subtitle">linPEVES is a privilege escalation script inspired by linPEAS, a well known linux privilege escaltion vulnerability scanner. </p>

            <div class="description">
                <div class="row">
                    <div class="column_3">
                        <div class="card">
                            <h2 class="project_heading">What is Privilege Escalation?</h2>
                            <p class="project_text">Like any human design, computers have weaknesses which are known as vulnerabilities. Privilege Escalation refers to a class of vulnerabilities that allow an unprivileged user to gain privileges that grant them more access or control over a system. One example of this might be an account with root access who stores their account password in a file that is accessible to unprivileged users. These unprivileged users can exploit this vulnerability and escalate privileges by signing into the root user’s account.
                            </p>
                        </div>
                    </div>
                    <div class="column_3">
                        <div class="card">
                            <h2 class="project_heading">Our Project</h2>
                            <p class="project_text">Our project identifies and exploits these vulnerabilities to escalate a user's privileges within a Linux system. 
                            The objective of our software is to allow a user to inquire if a vulnerability exists within a system so that the possibility of privilege escalation can be determined and subsequently executed (or not).</p>
                        </div>
                    </div>
                    <div class="column_3">
                        <div class="card">
                            <h2 class="project_heading">Useful Links</h2>
                            <ul>
                                <li><p class="project_text"><a href="https://github.com/nakyianu/linPEVES" target="_blank">Source Code</a></p></li>
                                <li><p class="project_text"><a href="../docs/" target="_blank">Source Documentation</a></p></li>
                                <li><p class="project_text"><a href="" target="_blank">Detailed Project Description</a></p></li>
                                <li><p class="project_text"><a href="../static/img/linPEVES-demo.mp4" target="_blank">Video Demonstration</a></p></li>
                                <li><p class="project_text"><a href="https://github.com/peass-ng/PEASS-ng/tree/master/linPEAS" target="_blank">linPEAS</a></p></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <h2 class="project_heading" style="text-align: center; justify-content: center;">linPEVES Architecture</h2>
                <p class="project_text"></p>
                <div class="img">
                    <img src="../static/img/linPEVES-help.png">
                </div>
                <div class="row">
                    <div class="column_2">
                        <div class="card" style="height: 500px;">
                            <h2 class="project_heading">
                                Background
                            </h2>
                                <ul>
                                    <li><p class="project_text">Created a Linux VM on Amazon Web Services (AWS)</p></li>
                                    <li><p class="project_text">Runs Ubuntu 24.04</p></li>
                                    <li><p class="project_text">Researched and added vulnerabilities to the VM</p></li>
                                    <li> <p class="project_text">Wrote scripts to exploit them</p></li>
                                </ul>
                            <h2 class="project_heading">
                                How to Run
                            </h2>
                            <ul>
                                <li><p class="project_text">Download and Install linPEVES</p></li>
                                <li><p class="project_text">Change directory to linPEVES/</p></li>
                                <li><p class="project_text">Decide which scans and exploits you want by running ./main.sh --list. See list to the right:</p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column_2">
                        <div class="card table">
                            <table>
                                <tr>
                                    <th style="width: 30px; text-align: right;">#</th>
                                    <th>SCANS</th>
                                    <th>EXPLOITS</th>
                                </tr>
                                <tr>
                                    <td style="width: 30px; text-align: right;">0</td>  
                                    <td>cron-scan</td> 
                                    <td>cron-exploit</td> 
                                </tr>
                                <tr>
                                    <td style="width: 30px; text-align: right;">1</td>  
                                    <td>env-var-scan</td> 
                                    <td>env-var-exploit</td> 
                                </tr>
                                <tr>
                                    <td style="width: 30px; text-align: right;">2</td>  
                                    <td>path-scan</td> 
                                    <td>path-exploit</td> 
                                </tr>
                                <tr>
                                    <td style="width: 30px; text-align: right;">3</td>  
                                    <td>pkexec-scan</td> 
                                    <td>pkexec-exploit</td> 
                                </tr>
                                <tr>
                                    <td style="width: 30px; text-align: right;">4</td>  
                                    <td>readable-passwd-scan</td> 
                                    <td>readable-passwd-exploit</td> 
                                </tr>
                                <tr>
                                    <td style="width: 30px; text-align: right;">5</td>  
                                    <td>readable-shadow-scan</td> 
                                    <td>readable-shadow-exploit</td> 
                                </tr>
                                <tr>
                                    <td style="width: 30px; text-align: right;">6</td>  
                                    <td>shellshock-scan</td> 
                                    <td>shellshock-exploit</td> 
                                </tr>
                                <tr>
                                    <td style="width: 30px; text-align: right;">7</td>  
                                    <td>sudo-scan</td> 
                                    <td>sudo-exploit</td> 
                                </tr>
                                <tr>
                                    <td style="width: 30px; text-align: right;">8</td>  
                                    <td>sudoers-scan</td> 
                                    <td>sudoers-exploit</td> 
                                </tr>
                                <tr>
                                    <td style="width: 30px; text-align: right;">9</td>  
                                    <td>systemctl-bin-scan</td> 
                                    <td>systemctl-bin-exploit</td> 
                                </tr>
                                <tr>
                                    <td style="width: 30px; text-align: right;">10</td>  
                                    <td>writable-passwd-scan</td> 
                                    <td>writable-passwd-exploit</td> 
                                </tr>
                                <tr>
                                    <td style="width: 30px; text-align: right;">11</td>  
                                    <td>writable-shadow-scan</td> 
                                    <td>writable-shadow-exploit</td> 
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <script>
            // Add active class to the current button (highlight it)
            var header = document.getElementById("project");
            header.classList.add("active");
            
        </script>
        
        <!-- <custom-footer></custom-footer> -->
    </body>
</html>